@use "../../../styles/abstract/mixins"as m;
@use "../../../styles/abstract/variables"as v;
@use "../../../styles/abstract/icon"as i;

.surveycreate {
    padding: 40px 54px;
    background-color: v.$primaryPurple;
    @include m.flexC($align: flex-start);
    border-radius: 5px 100px 5px 5px;

    @include m.breakpoint(1170px) {
        padding: 32px;
    };

    @include m.breakpoint(600px) {
        padding: 32px 16px;
        border-radius: 5px 80px 5px 5px;
    };
}

.surveycreate__header--wrapper {
    width: 100%;
}

.survey__status-wrapper {
    width: 100%;
    @include m.flexR($justify: space-between);
}

.surveycreate__header {
    width: 100%;
    padding-bottom: 32px;
    @include m.flexR($justify: space-between, $align: flex-end, $gap: 16px);
}

.surveycreate--button {
    color: #FEFDFF;

    @include m.breakpoint(868px) {
        display: none;
    }
}

.surveycreate--button-mobile {
    display: none;

    @include m.breakpoint(868px) {
        display: block;
        align-self: flex-start;
    }
}

.surveycreate__form {
    width: 100%;
    padding: 40px 32px;
    background-color: #8E709929;
    border-radius: 5px 80px 5px 5px;

    @include m.breakpoint(600px) {
        padding: 24px;
    };
}

.surveyform__inputarea {
    padding-bottom: 72px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px;

    @include m.breakpoint(868px) {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    @include m.breakpoint(600px) {
        padding-bottom: 48px;
    }
}

.surveyform__inputarea--name-date {
    @include m.flexC($align: flex-start, $gap: 8px);
}

.surveyform__date-category {
    width: 100%;
    @include m.flexR($justify: space-between, $align: flex-start, $gap: 8px);

    @include m.breakpoint(1170px) {
        @include m.flexC($align: flex-start, $gap: 8px);
    }
}

.surveys__dropdown {
    position: relative;
    width: 200px;
    flex-shrink: 0;
    @include m.flexC($align: flex-start, $gap: 4px);
}

.category__dropdown {
    position: absolute;
    top: 34px;
    height: 0;
    padding: 0 4px;
    background-color: #ffffff;
    @include m.flexC($align: flex-start, $gap: 4px);
    opacity: 0;
    border-radius: 6px;
    overflow: hidden;
    pointer-events: none;
    z-index: 2;
    transition: all 300ms;

    .surveys__dropdown.open & {
        height: fit-content;
        padding: 8px 4px;
        opacity: 1;
        pointer-events: auto;
    }

    &--text {
        font-family: "Mulish";
        font-size: 16px;
        font-weight: 400;
        color: v.$primaryPurple;
        padding: 4px;
        border-radius: 6px;
        transition: all 100ms ease-out;
        cursor: pointer;

        &:hover {
            background-color: #F4E9FB;
        }
    }
}

.surveys__filters--sort {
    font-family: "Mulish";
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    width: 100%;
    padding: 4px 6px;
    background-color: transparent;
    @include m.flexR($justify: space-between);
    border-radius: 6px;
    transition: all 100ms ease-out;

    &::after {
        content: '';
        display: block;
        background-image: url('#{i.icon("arrow--dropdown", "%23ffffff")}');
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        transition: color 100ms ease-out;
        transition: transform 300ms ease-out;
    }

    &:hover {
        background-color: #D9D9D91F;

        &::after {
            background-image: url('#{i.icon("arrow--dropdown", "%23FF9900")}');
        }
    }

    &:active {
        background-color: #D9D9D91F;
    }

    .surveys__dropdown.open & {
        &::after {
            background-image: url('#{i.icon("arrow--dropdown", "%23FF9900")}');
            transform: rotate(180deg) translateX(-4px);
        }
    }
}

.surveys__dropdown--choosen {
    position: absolute;
    display: inline-block;
    padding: 4px 6px;
    margin-top: 50px;
    opacity: 0;
    cursor: pointer;
    white-space: nowrap;

    &:not(:empty) {
        opacity: 1;
    }

    &:not(:empty):hover::after {
        content: '×';
        position: absolute;
        top: 50%;
        right: -8px;
        transform: translateY(-50%);
        font-size: 14px;
        font-weight: 700;
        color: v.$primaryOrange;
    }
}

.surveycreate__questionlist {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 91px;
    row-gap: 64px;

    @include m.breakpoint(868px) {
        grid-template-columns: 1fr;
    }
}

.surveycreate__question {
    @include m.flexC($align: flex-start, $gap: 24px);
}

.surveyform__question, .surveyform__answerlist {
    width: 100%;
    @include m.flexC($align: flex-start, $gap: 8px);
}

.surveycreate__label--wrapper {
    font-family: "Mulish";
    font-size: 18px;
    font-weight: 700;
    color: #FEFDFF;
    width: 100%;
    @include m.flexR($justify: space-between);
}

.surveyform__answer {
    width: 100%;
    @include m.flexC($align: flex-start, $gap: 16px);
}

.surveyform__answer--header {
    width: 100%;
    @include m.flexR($justify: space-between);
}

.surveyform__answer--headline {
    font-family: "Mulish";
    font-size: 18px;
    font-weight: 700;
    color: #FEFDFF;
}

.surveyform__answer--multiple {
    font-family: "Mulish";
    font-size: 16px;
    font-weight: 400;
    padding: 0 4px;
    color: #FEFDFF;
    @include m.flexR($gap: 4px);
    border-radius: 3px;
    transition: all 100ms ease-out;
    cursor: pointer;

    > input,
    > label {
        cursor: pointer;
    }

    > input {
        background-image: url('#{i.icon("checkbox--default", "%23FEFDFF")}');

        &:checked {
            background-image: url('#{i.icon("checkbox--checked", "%23FEFDFF")}');
        }
    }

    &:hover {
        background-color: #FFCFA166;
    }

    &:has(input:checked):hover {
        background-color: transparent;
    }
}

.surveyform__answerslist--answer {
    width: 100%;
    @include m.flexR($justify: space-between, $gap: 8px);

    &--text {
        font-family: "Mulish";
        font-size: 16px;
        font-weight: 700;
        color: #FEFDFF;
        min-width: 20px;
    }

    @include m.breakpoint(600px) {
        @include m.flexC($gap: 8px);
    }
}

.surveyform__addanswer {
    margin-left: 28px;
}

.surveyform--button {
    margin-top: 40px;
    align-self: flex-end;
}