@use "../abstract/mixins" as m;
@use "../abstract/variables" as v;
@use "../abstract/icon" as i;


$btn-icons: (
    'view': ('w': 22px, 'h': 16px),
    //
    'edit': ('w': 16px, 'h': 18px),
    //
    'close': ('w': 24px, 'h': 24px),
    'check': ('w': 18px, 'h': 16px),
    'delete': ('w': 14px, 'h': 16px),
    //
    'add-circle': ('w': 20px, 'h': 20px),
);

.button {
    border: none;
    outline: none;
    cursor: pointer;
}

.button--primary {
    font-family: "Nokora";
    font-size: 18px;
    font-weight: 700;
    color: v.$secondaryPurple;
    padding: 12px 16px;
    background-color: v.$secondaryOrange;
    @include m.flexR($gap: 10px);
    border-radius: 10px;
    transition: all 100ms ease-out;

    &:hover {
        background-color: v.$primaryOrange;
    }
}

.button--secondary {
    font-family: "Nokora";
    font-size: 16px;
    font-weight: 700;
    color: #FEFDFF;
    padding: 8px 12px;
    background-color: #FFB7704D;
    @include m.flexR($gap: 10px);
    border-radius: 10px;
    transition: all 100ms ease-out;

    &:hover {
        background-color: #FFB77099;
    }
}

@each $key, $data in $btn-icons {
    .button__#{$key} {
        &::after {
            content: '';
            display: inline-block;
            background-image: url('#{i.icon($key, "%23FEFDFF")}');
            background-repeat: no-repeat;
            vertical-align: middle;
            width: map-get($data, 'w');
            height: map-get($data, 'h');
        }
    }
}

@each $key, $data in $btn-icons {
    .button--#{$key} {
        &::after {
            content: '';
            display: none;
            background-image: url('#{i.icon($key, "%23221227")}');
            background-repeat: no-repeat;
            vertical-align: middle;
            width: map-get($data, 'w');
            height: map-get($data, 'h');
        }

        &:hover::after {
            display: inline-block;
        }
    }
}

.button--filter {
    font-family: "Nokora";
    font-size: 16px;
    font-weight: 400;
    color: v.$primaryPurple;
    padding: 2px 10px;
    background-color: #FEE9D4;
    border-radius: 20px;
    transition: all 100ms ease-out;

    &:hover {
        background-color: v.$secondaryOrange;
    }

    &:active {
        background-color: v.$primaryOrange;
    }
}

.survey__status {
    font-family: "Mulish";
    font-size: 16px;
    font-weight: 600;
    color: v.$secondaryPurple;
    width: fit-content;
    padding: 3px 12px 3px 8px;
    border-radius: 0 14px 0 0;

    &--published {
        background-color: v.$primaryOrange;
    }

    &--draft {
        background-color: #FEE9D4;
    }
}