@use "../abstract/variables" as v;
@use "../abstract/icon" as i;

input[type="checkbox"],
input[type="radio"] {
	appearance: none;
	-webkit-appearance: none;
	display: inline-block;
	vertical-align: middle;
	width: 21px;
	height: 21px;
	margin: 0;
	flex-shrink: 0;
	border: none;
	background-color: transparent;
	background-image: url('#{i.icon("checkbox--default", "%2335273A")}');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 21px 21px;
	cursor: pointer;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
	background-image: url('#{i.icon("checkbox--checked", "%2335273A")}');
}
