h1 {
    font-family: "Nerko One";
    font-size: clamp(62px, 3.4vw + 51.1px, 100px);
}

h2 {
    font-family: "Nerko One";
    font-size: clamp(54px, 1.6vw + 48.9px, 72px);
}

h3 {
    font-family: "Nerko One";
    font-size: 56px;
}

h4 {
    font-family: "Nerko One";
    font-size: clamp(48px, 0.7vw + 45.7px, 56px);
}