<section class="survey__view--detail">
    <p class="survey__status survey__status--published detail__status">Published</p>
    <div class="survey__detail">
        <div class="detail__headline">
            <div class="headline__info">
                <p class="headline__info--text">Ends on 01.05.2026</p>
                <p class="headline__info--category">Category: Team activities</p>
            </div>
            <h4 class="detail__header">Let’s Plan the Next Team Event Together</h4>
            <p class="headline__info--text">We want to create team activities that everyone will enjoy – share your preferences and ideas in our survey to help us plan better experiences together.</p>
        </div>
        <div class="survey__questionlist">
            
        </div>
    </div>
</section>