<section class="survey__view--detail">
    @if (survey(); as selectedSurvey) {
    <p class="survey__status survey__status--published detail__status">Published</p>
    <div class="survey__detail">
        <div class="detail__headline">
            <div class="headline__info">
                <p class="headline__info--text">{{ getEndDateLabel(selectedSurvey.endDate) }}</p>
                <p class="headline__info--category">Category: {{ selectedSurvey.category || 'No category choosen' }}</p>
            </div>
            <h4 class="detail__header">{{ selectedSurvey.title }}</h4>
            <p class="headline__info--text">{{ selectedSurvey.description }}</p>
        </div>
        <div class="survey__questionlist">
            @for (question of selectedSurvey.questions; track question.id; let questionIndex = $index) {
            <div class="surveydetail__question">
                <div class="surveydetail__question--number">
                    <p class="surveydetail__question--headline">{{ questionIndex + 1 }}.</p>
                    <div class="surveydetail__question--header">
                        <p class="surveydetail__question--headline">{{ question.text }}</p>
                        <p class="surveydetail__question--info">{{ getQuestionInfoLabel(question.multiple) }}</p>
                    </div>
                </div>
                <div class="surveydetail__answerlist">
                    @for (answer of question.answers; track answer.id; let answerIndex = $index) {
                    <label class="surveydetail__answeritem" [for]="question.id + '-' + answer.id">
                        <input #answerInput [id]="question.id + '-' + answer.id" [type]="question.multiple ? 'checkbox' : 'radio'"
                            [name]="question.id" [checked]="isAnswerSelected(question.id, answer.id)"
                            (change)="onAnswerChange(question.id, answer.id, question.multiple, answerInput.checked)">
                        <div class="surveydetail__answeritem--text">
                            <span class="surveydetail__answeritem--letter">{{ getAnswerLetter(answerIndex) }}.</span>
                            <span>{{ answer.text }}</span>
                        </div>
                    </label>
                    }
                </div>
            </div>
            }
        </div>
        <button type="button" class="survey__detail--button button button--secondary" (click)="completeSurvey()">Complete survey</button>
    </div>
    }
</section>