<section class="surveys">
    <div class="surveys__filters">
        <div class="surveys__filters--survey">
            <button
                type="button"
                class="surveys__button button button--filter"
                [class.surveys__button--active]="selectedTimeFilter() === 'active'"
                (click)="setTimeFilter('active')">
                Active survey
            </button>
            <button
                type="button"
                class="surveys__button button button--filter"
                [class.surveys__button--active]="selectedTimeFilter() === 'past'"
                (click)="setTimeFilter('past')">
                Past survey
            </button>
        </div>
        <section class="surveys__dropdown" [class.surveys__dropdown--open]="isCategoryDropdownOpen()">
            <button class="surveys__filters--sort button" type="button" (click)="toggleCategoryDropdown()">
                <span>Sort by Categories</span>
            </button>
            <div class="category__dropdown">
                @for (category of categories(); track category) {
                    <p class="category__dropdown--text" (click)="selectCategory(category)">{{ category }}</p>
                } @empty {
                    <p class="category__dropdown--text">No category</p>
                }
            </div>
            <span class="surveys__dropdown--choosen" (click)="clearCategoryFilter()">{{ selectedCategoryLabel() }}</span>
        </section>
    </div>
    <div class="surveylist">
        @for (survey of filteredSurveys(); track survey.id) {
            <div routerLink="/survey/view" [queryParams]="{ id: survey.id }" class="surveylist__card">
                <div class="surveylist__card--header">
                    <p class="surveylist__card--text">{{survey.category}}</p>
                    <p class="surveylist__card--headline">{{survey.title}}</p>
                </div>
                <p class="surveylist__card--end">{{ getSurveyEndLabel(survey.endDate) }}</p>
            </div>
        } @empty {
            <div routerLink="/" class="surveylist__card">
                <div class="surveylist__card--header">
                    <p class="surveylist__card--text">See you soon</p>
                    <p class="surveylist__card--headline">No surveys found. Please try again later.</p>
                </div>
            </div>
        }
    </div>
</section>