<section class="surveys">
    <div class="surveys__filters">
        <div class="surveys__filters--survey">
            <button class="surveys__button button button--filter">Active survey</button>
            <button class="surveys__button button button--filter">Past survey</button>
        </div>
        <section class="surveys__dropdown">
            <button class="surveys__filters--sort button">
                <span>Sort by Category</span>
            </button>
            <div class="category__dropdown">
                <p class="category__dropdown--text">Team activities</p>
                <p class="category__dropdown--text">Health & Wellness</p>
                <p class="category__dropdown--text">Gaming & Entertainment</p>
                <p class="category__dropdown--text">Education & Learning</p>
                <p class="category__dropdown--text">Lifestyle & Preferences</p>
                <p class="category__dropdown--text">Technology & Innovation</p>
            </div>
        </section>
    </div>
</section>