@use "../../../styles/abstract/mixins" as m;
@use "../../../styles/abstract/variables" as v;
@use "../../../styles/abstract/icon" as i;

.surveys {
    padding: 0 clamp(0px, 15.4vw + -133.7px, 88px) 178px;
    @include m.flexC($align: flex-start, $gap: 40px);

    @include m.breakpoint(868px) {
        padding-bottom: 80px;
    }
}

.surveys__filters {
    width: 100%;
    @include m.flexR($justify: space-between, $align: flex-start);

    @include m.breakpoint(600px) {
        @include m.flexC($justify: space-between, $align: flex-start, $gap: 48px);
    }
}

.surveys__filters--survey {
    @include m.flexR($gap: 24px);
}

.surveys__button--active {
    background-color: v.$primaryOrange;
}

.surveys__dropdown {
    position: relative;
    width: 200px;
    @include m.flexC($align: flex-start, $gap: 4px);
}

.category__dropdown {
    position: absolute;
    top: 34px;
    height: 0;
    padding: 0 4px;
    background-color: #ffffff;
    @include m.flexC($align: flex-start, $gap: 4px);
    opacity: 0;
    border-radius: 6px;
    overflow: hidden;
    pointer-events: none;
    z-index: 2;
    transition: all 300ms;

    &--text {
        font-family: "Mulish";
        font-size: 16px;
        font-weight: 400;
        color: v.$primaryPurple;
        padding: 4px;
        border-radius: 6px;
        transition: all 100ms ease-out;
        cursor: pointer;

        &:hover {
            background-color: #F4E9FB;
        }
    }
}

.surveys__filters--sort {
    font-family: "Mulish";
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    width: 100%;
    padding: 4px 6px;
    background-color: transparent;
    @include m.flexR($justify: space-between);
    border-radius: 6px;
    transition: all 100ms ease-out;

    &::after {
        content: '';
        display: block;
        background-image: url('#{i.icon("arrow--dropdown", "%23ffffff")}');
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        transition: color 100ms ease-out;
        transition: transform 300ms ease-out;
    }

    &:hover {
        background-color: #D9D9D91F;

        &::after {
            background-image: url('#{i.icon("arrow--dropdown", "%23FF9900")}');
        }
    }
}

.surveys__dropdown--open {
    .surveys__filters--sort {
        background-color: #D9D9D91F;

        &::after {
            background-image: url('#{i.icon("arrow--dropdown", "%23FF9900")}');
            transform: rotate(180deg) translateX(-4px);
        }
    }

    .category__dropdown {
        height: fit-content;
        padding: 8px 4px;
        opacity: 1;
        pointer-events: auto;
    }
}

.surveys__dropdown--chosen {
    position: absolute;
    display: inline-block;
    padding: 4px 6px;
    margin-top: 50px;
    opacity: 1;
    cursor: pointer;
    white-space: nowrap;

    &:not(:empty):hover::after {
        content: '×';
        position: absolute;
        top: 50%;
        right: -8px;
        transform: translateY(-50%);
        font-size: 14px;
        font-weight: 700;
        color: v.$primaryOrange;
    }
}

.surveylist {
    width: calc(100% + 38px);
    height: 500px;
    padding-right: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: start;
    gap: 16px;
    overflow-y: scroll;

    @include m.breakpoint(700px) {
        width: 100%;
        height: auto;
        padding-right: 0;
        grid-template-columns: 1fr;
        overflow-y: unset;
    }
}

.surveylist__card {
    height: 156px;
    padding: 12px 20px;
    background-color: #D9D9D914;
    @include m.flexC($justify: space-between, $align: flex-start, $gap: 24px);
    border-radius: 5px 50px 5px 5px;
    cursor: pointer;
    transition: all 100ms ease-out;

    &:hover {
        background-color: #D9D9D929;
    }
}

.surveylist__card--disabled {
    cursor: default;
    pointer-events: none;

    &:hover {
        background-color: #D9D9D914;
    }
}

.surveylist__card--header {
    @include m.flexC($justify: space-between, $align: flex-start, $gap: 8px);
}

.surveylist__card--text {
    font-family: "Mulish";
    font-size: 16px;
    font-weight: 500;
    color: v.$secondaryOrange;
}

.surveylist__card--headline {
    font-family: "Mulish";
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;

    @include m.breakpoint(868px) {
        font-size: 20px;
    }
}

.surveylist__card--end {
    font-size: 16px;
    font-weight: 500;
    color: v.$secondaryPurple;
    padding: 3px 6px;
    background-color: v.$secondaryOrange;
    align-self: flex-end;
    border-radius: 0 14px 0 0;
    transition: all 100ms ease-out;
}