<section class="surveys">
    <div class="surveys__filters">
        <div class="surveys__filters--survey">
            <button class="surveys__button button button--filter">Active survey</button>
            <button class="surveys__button button button--filter">Past survey</button>
        </div>
        <section class="surveys__dropdown">
            <button class="surveys__filters--sort button">
                <span>Sort by Categories</span>
            </button>
            <div class="category__dropdown">
                <p class="category__dropdown--text">Team activities</p>
                <p class="category__dropdown--text">Health & Wellness</p>
                <p class="category__dropdown--text">Gaming & Entertainment</p>
                <p class="category__dropdown--text">Education & Learning</p>
                <p class="category__dropdown--text">Lifestyle & Preferences</p>
                <p class="category__dropdown--text">Technology & Innovation</p>
            </div>
            <span class="surveys__dropdown--choosen">Gaming & Entertainment</span>
        </section>
    </div>
    <div class="surveylist">
        <div class="surveylist__card">
            <div class="surveylist__card--header">
                <p class="surveylist__card--text">Team activities</p>
                <p class="surveylist__card--headline">Let’s Plan the Next Team Event Together</p>
            </div>
            <p class="surveylist__card--end">Ends in 1 day</p>
        </div>
        <div class="surveylist__card">
            <div class="surveylist__card--header">
                <p class="surveylist__card--text">Gaming & Entertainment</p>
                <p class="surveylist__card--headline">Gaming habits and favorite games!</p>
            </div>
            <p class="surveylist__card--end">Ends in 2 day</p>
        </div>
        <div class="surveylist__card">
            <div class="surveylist__card--header">
                <p class="surveylist__card--text">Gaming & Entertainment</p>
                <p class="surveylist__card--headline">Gaming habits and favorite games!</p>
            </div>
            <p class="surveylist__card--end">Ends in 3 day</p>
        </div>
        <div class="surveylist__card">
            <div class="surveylist__card--header">
                <p class="surveylist__card--text">Health & Wellness</p>
                <p class="surveylist__card--headline">Fit & wellness survey!</p>
            </div>
            <p class="surveylist__card--end">Ends in 2 day</p>
        </div>
        <div class="surveylist__card">
            <div class="surveylist__card--header">
                <p class="surveylist__card--text">Health & Wellness</p>
                <p class="surveylist__card--headline">Fit & wellness survey!</p>
            </div>
            <p class="surveylist__card--end">Ends in 3 day</p>
        </div>
        <div class="surveylist__card">
            <div class="surveylist__card--header">
                <p class="surveylist__card--text">Team activities</p>
                <p class="surveylist__card--headline">Let’s Plan the Next Team Event Together</p>
            </div>
            <p class="surveylist__card--end">Ends in 1 day</p>
        </div>
        <div class="surveylist__card">
            <div class="surveylist__card--header">
                <p class="surveylist__card--text">Health & Wellness</p>
                <p class="surveylist__card--headline">Fit & wellness survey!</p>
            </div>
            <p class="surveylist__card--end">Ends in 3 day</p>
        </div>
        <div class="surveylist__card">
            <div class="surveylist__card--header">
                <p class="surveylist__card--text">Team activities</p>
                <p class="surveylist__card--headline">Let’s Plan the Next Team Event Together</p>
            </div>
            <p class="surveylist__card--end">Ends in 1 day</p>
        </div>
    </div>
</section>