<section class="highlights">
    <h2 class="highlights__headline">Your surveys</h2>
    <div class="highlights__overview">
        <p class="highlights__description">Ending soon surveys</p>
        <div class="highlights__cards">
            @for (survey of highlightSurveys(); track survey.id) {
                <div routerLink="/survey/view" [queryParams]="{ id: survey.id }" class="highlights__card">
                    <div class="highlights__card--header">
                        <p class="highlights__card--category">{{ survey.category }}</p>
                        <p class="highlights__card--headline">{{ survey.title }}</p>
                    </div>
                    <p class="highlights__card--end">{{ getSurveyEndLabel(survey.endDate) }}</p>
                </div>
            } @empty {
                <div routerLink="/" class="surveylist__card">
                    <div class="surveylist__card--header">
                        <p class="surveylist__card--text">See you soon</p>
                        <p class="surveylist__card--headline">No surveys found. Please try again later.</p>
                    </div>
                </div>
            }
        </div>
    </div>
</section>