<section class="highlights">
    <h2 class="highlights__headline">Your surveys</h2>
    <div class="highlights__overview">
        <p class="highlights__description">Ending soon surveys</p>
        <div class="highlights__cards">
            <div routerLink="survey/view" class="highlights__card">
                <div class="highlights__card--header">
                    <p class="highlights__card--category">Team activities</p>
                    <p class="highlights__card--headline">Let’s Plan the Next Team Event Together</p>
                </div>
                <p class="highlights__card--end">Ends in 1 day</p>
            </div>
            <div routerLink="survey/view" class="highlights__card">
                <div class="highlights__card--header">
                    <p class="highlights__card--category">Health & Wellness</p>
                    <p class="highlights__card--headline">Fit & wellness survey!</p>
                </div>
                <p class="highlights__card--end">Ends in 2 day</p>
            </div>
            <div routerLink="survey/view" class="highlights__card">
                <div class="highlights__card--header">
                    <p class="highlights__card--category">Gaming & Entertainment</p>
                    <p class="highlights__card--headline">Gaming habits and favorite games!</p>
                </div>
                <p class="highlights__card--end">Ends in 3 day</p>
            </div>
        </div>
    </div>
</section>