@font-face {
    font-family: "Nerko One";
    src: url("/fonts/NerkoOne-Regular.ttf");
}

@font-face {
    font-family: "Nokora";
    src: url("/fonts/Nokora-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Mulish";
    src: url("/fonts/Mulish-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Mulish Italic";
    src: url("/fonts/Mulish-Italic-VariableFont_wght.ttf");
}